<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the project</h2>
                <hr class="light">
                <p class="text-faded">We’re building 300 weather and air quality stations for the Baltimore area. The stations measure temperature, relative humidity, ozone, and nitrogen dioxide. We call them WeatherCubes— we plan to place them throughout the Baltimore area and send information in near-real time to the internet. Expect the first stations to roll out this spring and summer.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
